[submodule "frida_hook_libart"]
	path = frida_hook_libart
	url = https://github.com.cnpmjs.org/lasting-yang/frida_hook_libart.git
[submodule "frida-agent-example"]
	path = frida-agent-example
	url = https://github.com.cnpmjs.org/oleavr/frida-agent-example.git
[submodule "frida-scripts"]
	path = frida-scripts
	url = https://github.com/nezzzumi/frida-scripts
[submodule "OkHttpLogger-Frida"]
	path = OkHttpLogger-Frida
	url = https://github.com.cnpmjs.org/siyujie/OkHttpLogger-Frida.git
[submodule "r0tracer"]
	path = r0tracer
	url = https://github.com.cnpmjs.org/r0ysue/r0tracer.git
[submodule "FRIDA-DEXDump"]
	path = FRIDA-DEXDump
	url = https://github.com.cnpmjs.org/hluwa/FRIDA-DEXDump.git
[submodule "Wallbreaker"]
	path = Wallbreakerhttps://github.com.cnpmjs.org.cnpmjs.org/FreaxW/frida-repos.git
	url = https://github.com.cnpmjs.org/hluwa/Wallbreaker.git
[submodule "FridaContainer"]
	path = FridaContainer
	url = https://github.com.cnpmjs.org:FreaxW/FridaContainer.git
[submodule "r0capture"]
	path = r0capture
	url = https://github.com.cnpmjs.org:FreaxW/r0capture.git
[submodule "arida"]
	path = arida
	url = https://github.com.cnpmjs.org:FreaxW/arida.git
[submodule "frida-unpack"]
	path = frida-unpack
	url = https://github.com.cnpmjs.org:FreaxW/frida-unpack.git
[submodule "ApkUnpackByFrida"]
	path = ApkUnpackByFrida
	url = https://github.com.cnpmjs.org/Kr1s77/ApkUnpackByFrida.git
[submodule "Frida-Apk-Unpack"]
	path = Frida-Apk-Unpack
	url = https://github.com.cnpmjs.org/GuoQiang1993/Frida-Apk-Unpack.git
[submodule "ZenTracer"]
	path = ZenTracer
	url = https://github.com.cnpmjs.org/hluwa/ZenTracer.git
[submodule "jnitrace"]
	path = jnitrace
	url = https://github.com.cnpmjs.org/chame1eon/jnitrace.git
[submodule "AndroidSecurityStudy"]
	path = AndroidSecurityStudy
	url = https://github.com.cnpmjs.org:FreaxW/AndroidSecurityStudy.git
[submodule "frida-all-in-one"]
	path = frida-all-in-one
	url = https://github.com.cnpmjs.org:FreaxW/frida-all-in-one.git
[submodule "awesome-frida"]
	path = awesome-frida
	url = https://github.com.cnpmjs.org/dweinstein/awesome-frida.git
[submodule "frida_dump"]
	path = frida_dump
	url = https://github.com.cnpmjs.org/lasting-yang/frida_dump.git
[submodule "frida-snippets"]
	path = frida-snippets
	url = https://github.com.cnpmjs.org/iddoeldor/frida-snippets.git
[submodule "Awesome--Frida-UI"]
	path = Awesome--Frida-UI
	url = https://github.com.cnpmjs.org:FreaxW/Awesome--Frida-UI.git
[submodule "findhash"]
	path = findhash
	url = https://github.com.cnpmjs.org/Pr0214/findhash.git
[submodule "trace_natives"]
	path = trace_natives
	url = https://github.com.cnpmjs.org/Pr0214/trace_natives.git
[submodule "frida-android-hook"]
	path = frida-android-hook
	url = https://github.com.cnpmjs.org/noobpk/frida-android-hook.git
[submodule "fridaUiTools"]
	path = fridaUiTools
	url = https://github.com.cnpmjs.org/dqzg12300/fridaUiTools.git
[submodule "frida-protobuf"]
	path = frida-protobuf
	url = https://github.com.cnpmjs.org/SeeFlowerX/frida-protobuf.git
[submodule "hooker"]
	path = hooker
	url = https://github.com.cnpmjs.org/CreditTone/hooker.git
[submodule "ExAndroidNativeEmu"]
	path = ExAndroidNativeEmu
	url = https://github.com.cnpmjs.org/maiyao1988/ExAndroidNativeEmu.git
[submodule "frida_ssl_logger"]
	path = frida_ssl_logger
	url = https://github.com.cnpmjs.org/TTDemo/frida_ssl_logger.git
[submodule "AndroidSec"]
	path = AndroidSec
	url = https://github.com.cnpmjs.org:Simp1er/AndroidSec.git
[submodule "lxhToolHTTPDecrypt"]
	path = lxhToolHTTPDecrypt
	url = https://github.com.cnpmjs.org:lyxhh/lxhToolHTTPDecrypt.git
[submodule "study_frida"]
	path = study_frida
	url = https://github.com.cnpmjs.org:haidragon/study_frida.git
[submodule "FridaScripts"]
	path = FridaScripts
	url = https://github.com/apkunpacker/FridaScripts
[submodule "fridaMemoryAccessTrace"]
	path = fridaMemoryAccessTrace
	url = https://github.com/asmjmp0/fridaMemoryAccessTrace
[submodule "frida-omni"]
	path = frida-omni
	url = https://github.com/sereneblue/frida-omni

[submodule "frida-scripts-interference-security"]
	path = frida-scripts2
	url = https://github.com/interference-security/frida-scripts
[submodule "kittynighthawk-frida-scripts"]
	path = kittynighthawk-frida-scripts
	url = https://github.com/KittyNighthawk/frida-scripts
[submodule "lasting-yang-frida_hook_libart.git"]
	path = lasting-yang-frida_hook_libart.git
	url = https://github.com/lasting-yang/frida_hook_libart.git
[submodule "siyujie-OkHttpLogger-Frida.git"]
	path = siyujie-OkHttpLogger-Frida.git
	url = https://github.com/siyujie/OkHttpLogger-Frida.git
[submodule "r0ysue-r0tracer.git"]
	path = r0ysue-r0tracer.git
	url = https://github.com/r0ysue/r0tracer.git
[submodule "hluwa-FRIDA-DEXDump.git"]
	path = hluwa-FRIDA-DEXDump.git
	url = https://github.com/hluwa/FRIDA-DEXDump.git
[submodule "FreaxW-frida-repos.git"]
	path = FreaxW-frida-repos.git
	url = https://github.com/FreaxW/frida-repos.git
[submodule "hluwa-Wallbreaker.git"]
	path = hluwa-Wallbreaker.git
	url = https://github.com/hluwa/Wallbreaker.git
[submodule "FreaxW-FridaContainer.git"]
	path = FreaxW-FridaContainer.git
	url = https://github.com/FreaxW/FridaContainer.git
[submodule "FreaxW-r0capture.git"]
	path = FreaxW-r0capture.git
	url = https://github.com/FreaxW/r0capture.git
[submodule "FreaxW-arida.git"]
	path = FreaxW-arida.git
	url = https://github.com/FreaxW/arida.git
[submodule "FreaxW-frida-unpack.git"]
	path = FreaxW-frida-unpack.git
	url = https://github.com/FreaxW/frida-unpack.git
[submodule "Kr1s77-ApkUnpackByFrida.git"]
	path = Kr1s77-ApkUnpackByFrida.git
	url = https://github.com/Kr1s77/ApkUnpackByFrida.git
[submodule "GuoQiang1993-Frida-Apk-Unpack.git"]
	path = GuoQiang1993-Frida-Apk-Unpack.git
	url = https://github.com/GuoQiang1993/Frida-Apk-Unpack.git
[submodule "hluwa-ZenTracer.git"]
	path = hluwa-ZenTracer.git
	url = https://github.com/hluwa/ZenTracer.git
[submodule "chame1eon-jnitrace.git"]
	path = chame1eon-jnitrace.git
	url = https://github.com/chame1eon/jnitrace.git
[submodule "FreaxW-AndroidSecurityStudy.git"]
	path = FreaxW-AndroidSecurityStudy.git
	url = https://github.com/FreaxW/AndroidSecurityStudy.git
[submodule "FreaxW-frida-all-in-one.git"]
	path = FreaxW-frida-all-in-one.git
	url = https://github.com/FreaxW/frida-all-in-one.git
[submodule "dweinstein-awesome-frida.git"]
	path = dweinstein-awesome-frida.git
	url = https://github.com/dweinstein/awesome-frida.git
[submodule "lasting-yang-frida_dump.git"]
	path = lasting-yang-frida_dump.git
	url = https://github.com/lasting-yang/frida_dump.git
[submodule "iddoeldor-frida-snippets.git"]
	path = iddoeldor-frida-snippets.git
	url = https://github.com/iddoeldor/frida-snippets.git
[submodule "FreaxW-Awesome--Frida-UI.git"]
	path = FreaxW-Awesome--Frida-UI.git
	url = https://github.com/FreaxW/Awesome--Frida-UI.git
[submodule "Pr0214-findhash.git"]
	path = Pr0214-findhash.git
	url = https://github.com/Pr0214/findhash.git
[submodule "Pr0214-trace_natives.git"]
	path = Pr0214-trace_natives.git
	url = https://github.com/Pr0214/trace_natives.git
[submodule "noobpk-frida-android-hook.git"]
	path = noobpk-frida-android-hook.git
	url = https://github.com/noobpk/frida-android-hook.git
[submodule "dqzg12300-fridaUiTools.git"]
	path = dqzg12300-fridaUiTools.git
	url = https://github.com/dqzg12300/fridaUiTools.git
[submodule "SeeFlowerX-frida-protobuf.git"]
	path = SeeFlowerX-frida-protobuf.git
	url = https://github.com/SeeFlowerX/frida-protobuf.git
[submodule "CreditTone-hooker.git"]
	path = CreditTone-hooker.git
	url = https://github.com/CreditTone/hooker.git
[submodule "maiyao1988-ExAndroidNativeEmu.git"]
	path = maiyao1988-ExAndroidNativeEmu.git
	url = https://github.com/maiyao1988/ExAndroidNativeEmu.git
[submodule "TTDemo-frida_ssl_logger.git"]
	path = TTDemo-frida_ssl_logger.git
	url = https://github.com/TTDemo/frida_ssl_logger.git
[submodule "Simp1er-AndroidSec.git"]
	path = Simp1er-AndroidSec.git
	url = https://github.com/Simp1er/AndroidSec.git
[submodule "lyxhh-lxhToolHTTPDecrypt.git"]
	path = lyxhh-lxhToolHTTPDecrypt.git
	url = https://github.com/lyxhh/lxhToolHTTPDecrypt.git
[submodule "haidragon-study_frida.git"]
	path = haidragon-study_frida.git
	url = https://github.com/haidragon/study_frida.git
[submodule "apkunpacker-FridaScripts.git"]
	path = apkunpacker-FridaScripts.git
	url = https://github.com/apkunpacker/FridaScripts.git
[submodule "asmjmp0-fridaMemoryAccessTrace.git"]
	path = asmjmp0-fridaMemoryAccessTrace.git
	url = https://github.com/asmjmp0/fridaMemoryAccessTrace.git
[submodule "sereneblue-frida-omni.git"]
	path = sereneblue-frida-omni.git
	url = https://github.com/sereneblue/frida-omni.git
[submodule "interference-security-frida-scripts.git"]
	path = interference-security-frida-scripts.git
	url = https://github.com/interference-security/frida-scripts.git
[submodule "KittyNighthawk-frida-scripts.git"]
	path = KittyNighthawk-frida-scripts.git
	url = https://github.com/KittyNighthawk/frida-scripts.git
[submodule "robre-frida-scripts.git"]
	path = robre-frida-scripts.git
	url = https://github.com/robre/frida-scripts.git
[submodule "seemoo-lab-frida-scripts.git"]
	path = seemoo-lab-frida-scripts.git
	url = https://github.com/seemoo-lab/frida-scripts.git
[submodule "t0thkr1s-frida.git"]
	path = t0thkr1s-frida.git
	url = https://github.com/t0thkr1s/frida.git
[submodule "oleavr-frida-agent-example"]
	path = oleavr-frida-agent-example
	url = https://github.com/oleavr/frida-agent-example.git
